/*
 * memos.css: 
 *    Styles for 'Memos' go in this file 
 */

/* Nothing yet */

.lyrics {
    margin-left: 3em;
    font-style: italic;
}

.attribution  {
    font-size: smaller;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.odd{
  background-color: #dcdcdc;
}
