<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Make Memo</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- Our own style sheet -->
  <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">
<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1 class="text-center">New Memo</h1>
<form action="" method="post" onsubmit="return validateForm()">
<div class="container" style="position: absolute; top: 20px; left: 0px; right: 0px; margin-left: auto; margin-right: auto;" name="alertContainer"></div>

<div class="container" name="memoContainer">
    <div class="row">
        <label>Date</label>
        <input type='text' class="form-control" name="date" value="MM/DD/YYYY" />
    </div>
    <div class="row">
        <label>Memo</label>
        <textarea class="form-control" rows="5" name="memo"></textarea>
    </div>
    <div class="row">
        <input type="submit" class="btn btn-info" value="Add Memo">
    </div>
</div>

</form>
<script type="text/javascript">

  var dateRegex = /^([0][1-9]|[1][012])\/([0][1-9]|[12][\d]|[3][01])\/\d{4}$/; // MM/DD/YYYY; doesn't stop bad dates like Feb 30

  function validateForm(){
    var dateinput = $('input[name="date"]').val();
    var memoinput = $('input[name="memo"]').val().strip();

    if(!dateRegex.test(dateinput)){
      sendAlert("Invalid Date","warning");
      return false;
    }

    if(memoinput == ""){
      sendAlert("You must have something in the memo field","warning");
      return false;
    }

    return false;
  }

  var sendAlert = function(message, type){
      //making a string of html to write to page, not very pretty but it works
      var htmlcode = "<div class='alert alert-" + type + " text-center'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a>";
      htmlcode = htmlcode + message + "</div>";

      msgContainer = $('div[name="alertContainer"]')
      console.log(msgContainer.html());
      msgContainer.html(htmlcode);

      //the following is the code to make the alerts disappear automatically
      //credit to "I Can Has Kittenz" @ http://stackoverflow.com/questions/23101966/bootstrap-alert-auto-close
      msgContainer.fadeTo(1500, 500).slideUp(500, function(){
          msgContainer.slideUp(500);
      });
  }

</script>
</div> <!-- container -->
</body>
</html>
