<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Memos</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

<!-- Flashed messages before content -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h1>Memos</h1>
<input type="submit" class="btn btn-success pull-left" val="Delete Selected" />
<a href="{{ url_for('create') }}" class="btn bnt-success pull-right" val="New Memo" />
{% if g.memos %}
  <div class="col-md-1">
    <h3>Delete</h3>
  </div>
  <div class="col-md-2">
    <h3>Date</h3>
  </div>
  <div class="col-md-9">
    <h3>Content</h3>
  </div>
    {% for memo in g.memos %}
  <div class="memo">
  <div class="row">
  <div class="col-md-1">
    <label><input type="checkbox" name="chkDelete" value=""></label>
  </div>
  <div class="col-md-2">
    {{ memo.date | humanize }}
  </div>
  <div class="col-md-9">
    {{ memo.text }}
  </div>
  </div> <!-- row -->
  </div> <!-- memo -->
  {% endfor %}
{% else %}
  <p>No memos for you. </p>  
{% endif %}

 

</div> <!-- container -->
</body>
</html>
